<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152842502990-31lpo9ko95oi815on98tcov8m744m3i7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152842502990-31lpo9ko95oi815on98tcov8m744m3i7</string>
	<key>API_KEY</key>
	<string>AIzaSyA4VFrKOh0JRiBVmRKpATXXrEV-U1-ePLA</string>
	<key>GCM_SENDER_ID</key>
	<string>152842502990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.truenary.coursenami.dev</string>
	<key>PROJECT_ID</key>
	<string>coursenami-dev-77011</string>
	<key>STORAGE_BUCKET</key>
	<string>coursenami-dev-77011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152842502990:ios:885114efe5e44439a6141f</string>
</dict>
</plist>